* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    background-color: #04A777;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    height: 10vh;
    width: 100%;
}

section {
    padding-top: 50px;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

#about {
    align-self: center;
    color: #0D3B66;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Staatliches', cursive;
}

h3 {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    color: #DCF763;
}

h1 {
    color: white;
    font-size: 80px;
    padding: 10px;
}

p {
    padding: 10px;
    font-family: 'Squada One', cursive;
    font-size: 30px;
    color: rgb(12, 12, 12);
}

#left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#content {
    align-self: center;
}

form {
    padding: 10px;
    display: inline-block;
}

input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

button {
    height: 40px;
    width: 5rem;
    background-color: #0D3B66;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
}

#right {
    width: 50%;
}

#thumbnail {
    height: 600px;
    align-self: center;
    padding-left: 300px;
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
        padding-left: 20px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    section {
        padding-left: 0;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
    }
    h1 {
        color: white;
        font-size: 50px;
    }
    #thumbnail {
        padding-left: 50px;
    }
    #left {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction: row;
        padding-left: 30px;
    }
    input {
        height: 40px;
        width: 150px;
    }
    p {
        font-size: 20px;
    }
}